{{#if shareAllowed}}
<ul id="shareLink" class="shareWithList">
	{{#each linkShares}}
		<li data-share-id="{{cid}}">
			<div class="avatar icon-public-white"></div><span class="username" title="{{linkShareLabel}}">{{linkShareLabel}}</span>
			<span class="sharingOptionsGroup">
				<span class="shareOption">
					{{linkShareEnableLabel}}
				</span>
				<div class="share-menu" tabindex="0"><span class="icon icon-more"></span>
					{{#if showPending}}
						{{{pendingPopoverMenu}}}
					{{else}}
						{{{popoverMenu}}}
					{{/if}}
				</div>
			</span>
		</li>
	{{/each}}
</ul>
{{else}}
{{#if noSharingPlaceholder}}<input id="shareWith-{{cid}}" class="shareWithField" type="text" placeholder="{{noSharingPlaceholder}}" disabled="disabled"/>{{/if}}
{{/if}}
